

input, select{
  height:34px !important;
  padding: 5px 15px !important;
}


.login{
	background: #585858 !important;
    color: #ffffff !important;
	display: flex;
    align-items: center;
    padding: 40px 1rem;
    height: 100%;
	min-height: 100vh;
}

.login-body{

	    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.login-content{

	    background: white;
    color: rgba(0, 0, 0, 0.87);
	    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 24px;
    border-radius: 2px;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	margin:0;
	border-top:5px solid #c5cbe9;
}
.login-logo{
	text-align: center;
	padding-bottom: 1rem !important;
	margin-top: 0;
}

.login-logo img{
	margin-bottom: .5rem !important;
	max-width:100%;
}

.signin-btn{
	width:100%;
	display:block;
}

.vendor-details{
  padding: 10px 20px;
}

.purchaselist{
  padding: 10px 20px;
}
.purchase-payments{
  padding: 10px 20px;
}
.payments-list{
  padding: 10px 20px;
}

.vendor-details h3{
  font-size: 18px;
  color:#337ab7!important;
  font-weight: bold;
}
.invoice-num p{
  font-size: 16px;
}
.invoice-num p span{
  font-weight: bold;
}

.vendor-details-form h3{
  font-size: 18px;
  color:#337ab7!important;
  font-weight: bold;
}

.change-password-head h3{
  font-size: 18px;
  color:#337ab7!important;
  font-weight: bold;
}

.profile-update-head h3{
  font-size: 18px;
  color:#337ab7!important;
  font-weight: bold;
}

.vendor-details-form h5{
  font-size: 15px!important;
    /* font-style: italic; */
    text-transform: capitalize;
    font-weight: bold;
}

.purchase-payments-head h3{
  font-size: 18px;
  color:#337ab7!important;
  font-weight: bold;
}

.payments-list h3{
  font-size: 18px;
  color:#337ab7!important;
  font-weight: bold;
}

.add-icon{
  position: relative;
  padding: 10px 0;
  margin-top: 30px;
}
.add-icon .fa-plus-circle{
  position: absolute;
  top:0;
  right: 0;
  color:#0cb7a4!important;
  font-size: 30px;

}
.add-icon h5{
  font-size: 18px;
  font-weight: bold;
  margin: 0 !important;
}

.login_page{
  padding-top: 0 !important;
  margin-bottom: 0 !important;
}
/*TABLE CSS STARTS HERE*/



.item-table{
  width:100%;
  overflow: auto;

}

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.pharma-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;

}
/* .pharma-table>thead:first-child>tr:first-child>th {
  border-top: 0;
} */
.pharma-table>tbody>tr>td, .pharma-table>tbody>tr>th, .pharma-table>tfoot>tr>td, .pharma-table>tfoot>tr>th, .pharma-table>thead>tr>td, .pharma-table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #ddd;
  font-size: 14px;
}


.pharma-table>thead>tr>th {
  vertical-align: middle;
  border: 1px solid #ddd;
  font-size:12px;

}

.pharma-table>tfoot>tr>td{
 font-weight: 600;

}

.pharma-table-hover>tbody>tr:hover {
  background-color: #f5f5f5;
}

.pharma-table .mat-form-field-infix{
  border-top:0;
  width:100%;
}

.pharma-table .mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding-bottom: 15px;
}


.form-gradient .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem; }

.form-gradient input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=text]:focus:not([readonly]) + label {
  color: #4f4f4f; }

.form-gradient textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fd9267;
    box-shadow: 0 1px 0 0 #fd9267; }


.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=text]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    box-shadow: 0 1px 0 0 #00C851;
    color: #fff; }

.form-dark textarea.md-textarea  {
    color: #fff;
}

.form-dark .form-control, .form-dark .form-control:focus {
    color: #fff;
}


/* LOADER CODE START */
.spinner{
  background-color:#42424286;
  cursor: no-drop;
  width:100vw;
  height: 100vh;
  position: fixed;
  z-index: 99999999999;

  }
  .spinner > span {
  border: 11px solid #808080;
  border-top: 11px solid #9f3122;
  border-left: 11px solid #9f3122;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
/* LOADER CODE END */

/* ALERT MESSAGES START HERE */
.alertMsg{
  width:300px;
  min-height:40px;
  padding:10px 15px;
  text-align: center;
  font-size: 14px;
  position: fixed;
  right:8px;
  bottom:8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff!important;
  z-index: 999999;
  border: 1px solid #ffffff83;
}
.alertMsg.sucessMsg{
  background-color: #208322;
}
.alertMsg.InfoMsg{
  background-color: #0e6cc4;
}
.alertMsg.warningMsg{
  background-color: #b3770f;
}
.alertMsg.dangerMsg{
  background-color: #B83226;
}
/* ALERT MESSAGES END HERE */

/* CARD START HERE */
.col-sm-6{
  width: 50%;
  float: left;
  /* padding: 0; */
}
.itemtitle{
  font-size: 18px;
}
/* CARD START HERE */


main {
  padding: 100px 0;
  width: 600px;
  margin: 0 auto;
}

header {
  height: 100px;
  margin-bottom: 50px;
}

h1 {
  float: left;
  margin: 0;
}

h2 {
  margin: 0 0 50px;
}

#cart-container {
  float: right;

  position: relative;
}

#itemCount {
  position: absolute;
  display: none;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
}

img {
  width: 100%;
}

.item {
  width: 31%;
  float: left;
  margin: 1%;
}

i:hover {
  cursor: pointer;
}

.col-md-6{
  width: 50%;
  float: left;

}
.col-md-4{
  width: 30%;
  float: left;

}
.innercard{
  padding: 10px;
  margin: 0;
}

.qtycount{
  width: 20%;
  float: left;
}
.qtyicons{
  float: left;
  width: 70%;
  margin-left: 10px;
}
.descqty{
  float: left;
  margin-right: 15px;
}
.displaycount{
  width: 25%;
  float: left;
  margin-right: 10px;
}




form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.value-button {
  display: inline-block;
  /* border: 1px solid #ddd; */
  margin: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 2px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 18px;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* NEXT BUTTON */
.next-btn{
    background-color: #337ab7;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    float: right;
    font-size: 12px;
}
.next-btn a{
  color: #fff;
  font-weight: bold;

}

  /* NEXT BUTTON END */


  /*COL-MD- CLASSES*/


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }

  .valminus{
    float: left;
    background-color: #f58220;
    color: #fff;
  }
  .displaycount{
    float: left;
    width: 50px !important;
    height: 30px !important;
    margin: 0 !important;
    padding:7px 10px !important;
    border:none !important;
  }
  .valplus{
    float: left;
    background-color: #007a48;
    color:#fff;
  }
.plusminus{
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 112px;
}
.measuresty{
  background-color: #f4f5f7;
    padding: 5px 10px;
    border-bottom: 1px solid #929394;
    color: #000;
}
.datameasure1{
  font-weight: bold;
  float: right;
}

.justcolor{
  color: #000;
}
.boldcls{
  font-weight: bold;
}

.view-more{
font-weight: bold;
text-align: right;
margin-right: 20px;

}
.alltaxs{
  border: 1px solid #f58220;
  padding: 5px;
  margin-bottom: 10px;
}
.taxvisible{
  border: 1px solid #f58220;
  padding: 5px;
  margin-bottom: 10px;
}


/* profile page */

.profile-update{
  padding: 10px 20px;
}

/* .profile-update h3{
  font-size: 26px;
  color:#0cb7a4!important;
  font-weight: bold;
} */

.profile-update-form h5{
  font-size: 18px;
  font-weight: bold;
}

/* profile page */


/* changepassword  page */

.change-password{
  padding: 10px 20px;
}

/* .change-password h3{
  font-size: 26px;
  color:#0cb7a4!important;
  font-weight: bold;
} */

.change-password h5{
  font-size: 18px;
  font-weight: bold;
}

/* changepassword page */


/* purchase payments page */

.purchase-payments{
  padding: 10px 20px;
}



.purchase-payments-form h5{
  font-size: 18px;
  font-weight: bold;
}
.purchaselisttable th{
padding: 5px !important;
}

.purchaselisttable td{
  padding: 5px !important;
  padding-left: 5px !important;
  }
  .purchaselisttable tr td:first-child{
    padding: 5px 10px !important;
  }
  .purinnertable p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);

  }
  .purinnertable p span{
    font-size: 16px;
    color: #434343;
    margin-left: 20px;
  }
  .purinnertable {
    border: 1px solid rgba(0,0,0,.2);
    padding: 15px;
    border-radius: 5px;
  }
/* purchase payments page */

 @media all and (max-width:320px){
  .next-btn{
    padding:5px 10px;
  }
  .measuresty{
    font-size: 11px;
  }
 }

 .alltaxs p{
   margin: 0%;
 }
 .taxvisible p{
  margin: 0%;
 }

 .itemlistshowdata{
  border: 1px solid #f58220;
  padding: 5px;
  margin-bottom: 10px;
}
.itemlistshowdata p{
  padding: 0%;
}

.itemslistview {
  border: 1px solid #8e8e8e;
  padding: 15px;
}

/* cash book page */

.cash-book{
  padding: 10px 20px;
}

.cash-book-head h3{
  font-size: 18px;
  color:#337ab7!important;
  font-weight: bold;
} 



/* cash book page */
.dist-width{
 
  font-size: 12px !important;
}
.txtwidth{ float:right;padding:0 !important;height:30px !important;width:50% !important; }

.addpurchase{
  position: relative;
}
.addpurchase-icon{
  position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #0cb7a4!important;
}
    

.cashbook-table {
  border-collapse: collapse;
}

.cashbook-table, th, td {
  border: 1px solid black;
}

.cashbook-details{
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  margin-top: 10px;
  min-height: 125px;
  padding: 10px;
}

.cashbook-heading{
  margin-bottom: 30px;
  position: relative;
}
.book-heading{
  position: absolute;
  top:0;
  left:0;
  font-size: 18px;
  margin: 0;
}

.cashbook-date{
  position: absolute;
  top:0;
  right:0;
 
}

.cashbook-date p{
  color:#333;
  font-size: 14px;
}

.cashbook-date p span{
  color: #8f8f94;
  font-size: 13px;
}

.cashbook-amt{
  position: relative;
}

.cash-credit h5{
  float: left;
  font-size: 14px;
  color:#333;
  font-weight: bold;
  width: 20%;
  text-transform: capitalize;

}

.cash-credit p{
  float: left;
  font-size: 14px;
  color:#0e6cc4;
  font-weight: bold;
  margin-top: 6px;
}

.cash-debit h5{
  float: left;
  font-size: 14px;
  color:#333;
  font-weight: bold;
  width: 20%;
  text-transform: capitalize;

}

.cash-debit p{
  float: left;
  font-size: 14px;
  color:#0e6cc4;
  font-weight: bold;
  margin-top: 6px;
}

.cash-view-details{
  position: absolute;
  right: 0px;
  bottom: 10px;
}

.cash-view-details p{
  margin-bottom: 0;
  color: #337ab7;
  font-size: 12px;
  text-decoration: underline;
}

.cash-view-details .hide-details{
  display: none;
}
.cash-view-details.show .show-details{
  display: none;
}
.cash-view-details.show .hide-details{
  display: block;
}
.cash-dis{
  border: 1px solid #ddd;
  transform: translateX(-100%);
  transition: 1.0s cubic-bezier(0.4, 0, 1, 1);
  display:none;
  padding:0 10px;
}
.cash-dis.open{
  transform: translateX(0);
  transition: 1.0s cubic-bezier(0.4, 0, 1, 1);
  display:block;
}

.act-head h5{
  
  font-size: 14px;
  color:#333;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: capitalize;

}

.act-head p{
  
  font-size: 14px;
  color:#0e6cc4;
  font-weight: bold;
  margin-top: 6px;
}

.total-balance{
  border: 1px solid #ddd;
    padding: 10px;
    background-color: #f8f8f8;
    margin-bottom: 15px;
}


/* bank book page */

.bank-book{
  padding: 10px 20px;
}

.bank-book-head h3{
  font-size: 18px;
  color:#337ab7!important;
  font-weight: bold;
} 



/* cash book page */